<%= form_with(model: end, local: true) do |form| %>
  <% if end.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(end.errors.count, "error") %> prohibited this end from being saved:</h2>

      <ul>
      <% end.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :design_id %>
    <%= form.text_field :design_id, id: :end_design_id %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.text_field :material_id, id: :end_material_id %>
  </div>

  <div class="field">
    <%= form.label :locking_system_id %>
    <%= form.text_field :locking_system_id, id: :end_locking_system_id %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.text_field :brand_id, id: :end_brand_id %>
  </div>

  <div class="field">
    <%= form.label :end_size %>
    <%= form.text_field :end_size, id: :end_end_size %>
  </div>

  <div class="field">
    <%= form.label :anodizing_id %>
    <%= form.text_field :anodizing_id, id: :end_anodizing_id %>
  </div>

  <div class="field">
    <%= form.label :gemstones_ids %>
    <%= form.text_field :gemstones_ids, id: :end_gemstones_ids %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :end_user_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :end_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
