<p id="notice"><%= notice %></p>

<p>
  <strong>Design:</strong>
  <%= @accessory.design %>
</p>

<p>
  <strong>Material:</strong>
  <%= @accessory.material %>
</p>

<p>
  <strong>Locking system:</strong>
  <%= @accessory.locking_system %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @accessory.brand %>
</p>

<p>
  <strong>Size:</strong>
  <%= @accessory.size %>
</p>

<p>
  <strong>Anodizing:</strong>
  <%= @accessory.anodizing %>
</p>

<p>
  <strong>Gemstones ids:</strong>
  <%= @accessory.gemstones_ids %>
</p>

<p>
  <strong>User:</strong>
  <%= @accessory.user %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @accessory.quantity %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
